<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

    <script src="~/datepicker-pl.js"></script>
   
    <style>
        nav a {
            color: white
        }
    </style>

</head>
<body>
   
    <nav class="navbar navbar-expand-lg " style="background-color: black" >
       
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" asp-action="Index" asp-controller="Home">UndergroundSound</a>

                @if (User.Identity.IsAuthenticated)
                {
                   
                <a class="nav-item nav-link" @*style="color:white"*@  asp-action="UsersPanel" asp-controller="Home" > @User.Identity.Name </a>
                <a class="nav-item nav-link" asp-action="Logout" asp-controller="Account">Log Out </a>
              
                    @await Component.InvokeAsync(nameof(VotesSummary))
               
                 
            
                }
                else
                {
                    <a class="nav-item nav-link" asp-action="Login" asp-controller="Account">Log In</a>
                    <a class="nav-item nav-link" asp-action="Create" asp-controller="Admin">Reqister </a>
                }
            </div>
        </div>
    </nav>

   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; UndergroundSound</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
