
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-action="Create" asp-controller="Admin">Register</a></li>
                <li><a asp-action="Create" asp-controller="Admin">Log in</a></li>
            </ul>
      


